@mixin marginAuto{
    margin:{
        left: auto;
        right: auto;
    }
}
@mixin flex ($direction, $justify,$align){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$align
}