.about{
    background-color:$mainBlue;
    color:#fff;

    &__content{
        flex: 1 0 50%;
        align-self: flex-start;
    }

    &__desc{
        margin: 0 2em;
    }

    &__img{
       flex: 1 0 40%;

        >img{
            max-width:100%;
        }
    }

   
}