.features{
    background-color:rgba(2,104,180,0.5);
    position:relative;
  

    &__container{
        margin-top:50px;
        width:90%;
        @include marginAuto;
    }

    .feature{
        
        @include flex(column, flex-start, center)
        flex-basis:30%;
       
        

        &__img{
            padding:20px;
           
        }

        &__desc{
            font-size:1.5rem;
            text-align:center;
        }


    }

    


}