.header{
  position: relative;
  max-width:120rem;
  height: 15vh;
  padding:0 30px;
    @include flex(row, space-between, center);

    &__nav{
    flex-basis:50%;

      >ol{
        @include flex(row, flex-end, center);
        >li{
          margin:0 20px;
          &::marker{
            color:$mainOrange;   
          }
          >a{
            cursor:pointer;
            text-decoration:none;
            color:$mainGray;
           }
         }
       }
    }
    &__logo{
      padding:20px 0; 
    }

}

