.header{
    @include flex(row, space-between, center);

    &__nav{
    flex-basis:50%;

      >ol{
        @include flex(row, flex-end, center);
        >li{
          margin:0 20px;
          &::marker{
            color:$mainOrange;
          }
        }
        
    }
    }
}

