.hero{
    background-color: $mainBlue;
    height:85vh;
    width:100vw;
    @include flex(column, center, center);
    color:#fff;

   
    &__title{
        font-weight:bold;
        font-size:10rem;
         
         >span{
        color:$mainOrange;
         }
    }

    &__subtitle{
        font-size:2rem;
        text-align:center;
    }
}
