.services{
    background-color:$mainOrange;
    color:#fff;

    &__content{
        flex: 1 0 50%;
        align-self: flex-start;

        >ul{
            margin:2em 0 0 3em;

            >li{
                font-size:1.5rem;
            }
        }

    }
}