.row {
    max-width: 75rem;
    margin: 0 auto;
    @include flex(column, center, center);



    @include mq('medium-wide') {
        @include flex(row, space-around, center);

        &:nth-child(1) {
            @include flex(row, space-between, stretch);
            max-width: 70rem;
        }



    }

    @include landscape {
        @include flex(column, center, center);
    }


}